

button {
	display: block;
	margin: 0 auto;
}

.screen {
	border: 2px solid #000;
	margin: 0 auto;
	overflow: hidden;
	z-index: -1;
	width: 600px;
}

.pixel {
	float: left;
	height: 100px;
	width: 100px;
	background-color: #000;
	opacity: 0.0;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.break {
	clear: both;
	display: block;
}